# Dependencias
node_modules/
vendor/

# Variables de entorno
.env
.env.local

# XAMPP / Sistema
.DS_Store
Thumbs.db

# React build
frontend/build/
frontend/dist/

# IDE
.vscode/settings.json
.idea/

# Logs
*.log